@{
    ViewBag.Title = "Contact";
}
<script>
    
</script>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UNIVERSIDADE TIRADENTES<br />
    Av. Murilo Dantas, 300<br />
    <abbr title="Phone">TEL:</abbr>
    (79) 3218-2100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>